<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />
    <title>{{ArticleTitle}} | emanuelpalm.com</title>
    <link rel="stylesheet" type="text/css" href="styles/garden.css">
</head>
<body>
    <header>
        <nav>{{MainTags}}</nav>
    </header>
    <main>
        <article class="{{ArticleMainTag}}">
            <h1>{{ArticleTitle}}</h1>
            <p class="lead">{{ArticleAbstract}}</p>
            <hr class="lead" />
            {{ArticleBody}}
            <hr class="end" />
            <footer>
                <table>
                    <tr>
                        <th scope="row">Tags</th>
                        <td class="tags">{{ArticleTags}}</td>
                    </tr>
                    <tr>
                        <th scope="row">History</th>
                        <td class="history">
                            <ul>{{ArticleHistory}}</ul>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">References</th>
                        <td class="references">
                            <ul>{{ArticleReferences}}</ul>
                        </td>
                    </tr>
                </table>
            </footer>
        </article>
    </main>
    <footer>
        Emanuel Palm
    </footer>
</body>
</html>

