@import url('https://fonts.googleapis.com/css?family=Crimson+Pro:400,400i,700&display=swap');

@font-face {
	font-family: "Crimson Pro Fallback";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/CrimsonPro-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Crimson Pro Fallback";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/CrimsonPro-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Crimson Pro Fallback";
	font-style: italic;
	font-weight: 400;
	src: url("../fonts/CrimsonPro-RegularItalic.ttf") format("truetype");
}

html {
	font-family: "Crimson Pro", "Crimson Pro Fallback", sans-serif;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	font-size: 1.2em;
	line-height: 1.2;
	margin: 0;
	height: 100%;
}

body > header {
	padding: 2rem;
	position: fixed;
}

body > section {
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: 8rem 2rem;
}

body > section > article {
	max-width: 37rem;
}

body > section > article > h1 {
	text-align: center;
}

body > section > article > p.lead {
	font-size: 1.15em;
	font-style: italic;
	line-height: 1.25em;
	margin: 1rem 0;
}

body > section > article > hr {
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: contain;
	border: none;
	height: 1.6rem;
	margin: 1rem;
}

body > section > article > hr.dawn {
	background-image: url("../images/fleuron-dawn.svg");
}

body > footer {
	background-color: #2e2b27;
	color: #897d72;
	margin: 0;
	padding: 2rem;
}

h1 {
	font-size: 2.5em;
	margin: 1.5rem 0 1.25rem 0;
}

h2 {
	font-size: 2em;
	margin: 1rem 0 0.75rem 0;
}

h3 {
	font-size: 1.5em;
	margin: 1rem 0 0.75rem 0;
}

h4 {
	font-size: 1.25em;
	margin: 1rem 0 0.75rem 0;
}

p {
	margin: 0.5rem 0;
	text-align: justify;
}
